In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
fpath='String_Cleaning.xlsx'
df=pd.read_excel(fpath)
df.head(3)

,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/"
0,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com..."
1,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake..."
2,David Williams,https://www.linked-in.com/in/dwilliamsfake 765...

In [3]:
df = df.T.reset_index().T
df.columns =['c1','c2']

In [4]:
pd.set_option('display.max_colwidth',None)

In [5]:
pattern = '([0-9-().]+[0-9])'
df['phone number'] = df['c2'].str.extract(pattern)

In [6]:
pattern = '([A-Z]{2})'
df['state'] = df['c2'].str.extract(pattern)

In [7]:
pattern = '([A-Z][a-z A-Z]+)'
df['city'] = df['c2'].str.extract(pattern)

In [8]:
pattern = '(http[a-z0-9./:-A-Z]+)'
df['url'] = df['c2'].str.extract(pattern)

In [9]:
df

,c1,c2,phone number,state,city,url
index,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/",543.216.8987,CA,Oakland,https://johnsmithphotographyfake.net/
0,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981",(165)555-5981,AZ,Phoenix,https://www.barbara-lopezfake.com/
1,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com",9079870987,AR,Little Rock,http://janedoefake.com
2,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO",765-143-9900,CO,Denver,https://www.linked-in.com/in/dwilliamsfake
3,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988",(521)8760988,GA,Atlanta,https://amenakanedesigsolutionsfake.com
4,Mary Brown,"876-999-3465 Boise, ID, https://marybrowndesignfake.com/",876-999-3465,ID,Boise,https://marybrowndesignfake.com/
5,Lakshmi Patel,"http://lpatelfake.net 789.4365952 Topeka, KS",789.4365952,KS,Topeka,http://lpatelfake.net
6,Anna Garcia,"431-000-9999 Atlanta, GA, https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html",431-000-9999,GA,Atlanta,https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html

In [10]:
df=pd.read_excel(fpath, header=None)
df.head(3)

,0,1
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/"
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981"
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com"

In [11]:
#  the ? means the preceding pattern is optional (may or may not be present)
phone = '([(]?[0-9]{3}[)|.-]?[0-9]{3}[.-]?[0-9]{4})'
df['phone_number']= df[1].str.extract(phone)

In [12]:
# \S is any non-space character
url = '(http[s]?://[\S]+)'
df['url'] = df[1].str.extract(url)

In [13]:
city = '([A-Z]{1}[a-z]+[\s]?[A-Za-z]+)'
df['city'] = df[1].str.extract(city)

In [14]:
state = '([A-Z][A-Z])'
df['state']= df[1].str.extract(state)

In [15]:
df

,0,1,phone_number,url,city,state
0,John Smith,"543.216.8987 Oakland, CA, https://johnsmithphotographyfake.net/",543.216.8987,https://johnsmithphotographyfake.net/,Oakland,CA
1,Barbara Lopez,"Phoenix, AZ, https://www.barbara-lopezfake.com/ (165)555-5981",(165)555-5981,https://www.barbara-lopezfake.com/,Phoenix,AZ
2,Jane Doe,"9079870987 Little Rock, AR, http://janedoefake.com",9079870987,http://janedoefake.com,Little Rock,AR
3,David Williams,"https://www.linked-in.com/in/dwilliamsfake 765-143-9900 Denver, CO",765-143-9900,https://www.linked-in.com/in/dwilliamsfake,Denver,CO
4,Amena Khan,"Atlanta, GA, https://amenakanedesigsolutionsfake.com (521)8760988",(521)8760988,https://amenakanedesigsolutionsfake.com,Atlanta,GA
5,Mary Brown,"876-999-3465 Boise, ID, https://marybrowndesignfake.com/",876-999-3465,https://marybrowndesignfake.com/,Boise,ID
6,Lakshmi Patel,"http://lpatelfake.net 789.4365952 Topeka, KS",789.4365952,http://lpatelfake.net,Topeka,KS
7,Anna Garcia,"431-000-9999 Atlanta, GA, https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html",431-000-9999,https://docplayer.net/12921920-Anna-garcia-questions-anna-garcia-cluesfake.html,Atlanta,GA

In [45]:
df['phone'] = df['phone_number'].str.strip('(')

In [46]:
df['phone'] = df['phone'].str.replace('-', '',regex=False)

In [47]:
df['phone'] = df['phone'].str.replace(')', '',regex=False)

In [48]:
df['phone'] = df['phone'].str.replace('.', '',regex=False)

In [49]:
df[['phone_number','phone']]

    phone_number       phone
0   543.216.8987  5432168987
1  (165)555-5981  1655555981
2     9079870987  9079870987
3   765-143-9900  7651439900
4   (521)8760988  5218760988
5   876-999-3465  8769993465
6    789.4365952  7894365952
7   431-000-9999  4310009999